<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>

<p>
  <b>Start:</b>
  <%= @question.start %>
</p>

<p>
  <b>End:</b>
  <%= @question.end %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
