<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @voter.username %>
</p>

<p>
  <b>Password:</b>
  <%= @voter.password %>
</p>


<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
