<h1>Listing vote_records</h1>

<table>
  <tr>
    <th>Voter</th>
    <th>Question</th>
    <th>Is yes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vote_records.each do |vote_record| %>
  <tr>
    <td><%= vote_record.voter_id %></td>
    <td><%= vote_record.question_id %></td>
    <td><%= vote_record.is_yes %></td>
    <td><%= link_to 'Show', vote_record %></td>
    <td><%= link_to 'Edit', edit_vote_record_path(vote_record) %></td>
    <td><%= link_to 'Destroy', vote_record, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote record', new_vote_record_path %>
