<p id="notice"><%= notice %></p>

<p>
  <b>Voter:</b>
  <%= @vote_record.voter_id %>
</p>

<p>
  <b>Question:</b>
  <%= @vote_record.question_id %>
</p>

<p>
  <b>Is yes:</b>
  <%= @vote_record.is_yes %>
</p>


<%= link_to 'Edit', edit_vote_record_path(@vote_record) %> |
<%= link_to 'Back', vote_records_path %>
